.radio-sample
  .radio-wrapper
    .row
      radio(name='radio-1' value='1') &nbsp;Radio Check
    .row
      radio(name='radio-2' value='2' checked) &nbsp;Radio Checked
    .row
      radio(name='radio-3' value='3' disabled) &nbsp;Radio Disabled
    .row
      radio(name='radio-4' value='4' checked disabled) &nbsp;Radio Checked Disabled
