$radio-color: #129fdd !default;

.radio {
  margin: 0;

  &.radio-replace {
    display: inline-block;
    margin-right: 10px * 2;
    font-weight: normal;
    cursor: pointer;
    user-select: none;

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }

    .radio-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 0;
      border: 1px solid #ccc;
      width: 16px * 2;
      height: 16px * 2;
      vertical-align: middle;
      border-radius: 2px * 2;
      cursor: pointer;
      transition: all .2s;

      &:before {
        position: absolute;
        top: 2.5px * 2;
        right: 0;
        left: 0;
        margin: auto;
        border: 2px * 2 solid $radio-color;
        border-top: none;
        border-right: none;
        width: 80%;
        height: 40%;
        content: '';
        opacity: 0;
        transform: rotate(-45deg);
        transition: all .2s;
      }
    }

    &:hover {
      .radio-icon {
        border-color: $radio-color;
      }
    }

    input[checked] + .radio-icon {
      border-color: $radio-color;

      &:before {
        opacity: 1;
      }
    }

    &.disabled,
    &[disabled],
    &:disabled {
      pointer-events: none;

      > .radio-icon {
        opacity: .3;
      }
    }

    input.disabled,
    input:disabled {
      + .radio-icon {
        opacity: .3;
      }
    }

    .radio-inner {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px * 2;
    }
  }
}

// Radio in Form-horizontal
.form-horizontal {
  .control-label .radio.radio-replace {
    margin-right: 0;
    padding-top: 0;
  }
}
