{
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy"
  ],
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 10 version", "ie >= 9"]
        }
      }
    ],
    "stage-0"
  ]
}
