# Output folders
/unitest
/scripts
/scripts_dist
/.temporary
/coverage


# Config file
/karma.conf.js


# Dependency folders
.nyc_output
yarn.lock
node_modules
npm-debug.log
yarn-debug.log


# Vendors
.babelrc
.eslintrc
.stylelintrc
.stylelintrc
.travis.yml
.git
.hg
.svn
.gitignore
.npmrc
.yarnrc


# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~


# OS or Editor folders
.vscode
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
