.calendar
  .header
    a.button.prev(ng-click='previous()') 上月
    span.date {{ month.format('YYYY年 MM月') }}
    a.button.next(ng-click='next()') 下月

  .week.names
    span.day 日
    span.day 一
    span.day 二
    span.day 三
    span.day 四
    span.day 五
    span.day 六

  .week(ng-repeat='week in weeks')
    .day(ng-repeat='day in week.days',
      ng-class="{\
        today             : day.isToday,\
        'different-month' : !day.isCurrentMonth,\
        selected          : isSelected(day),\
      }",
      ng-click='select(day)')
      .content {{ day.number }}
