@import "../_styles/_bootstrap";

$calendar-border-color      : $border-color-normal !default;
$calendar-spacing           : px-to-rem(10px) 0 !default;
$calendar-header-height     : px-to-rem(45px) !default;

$calendar-header-size       : px-to-rem(15px) !default;
$calendar-day-in-week-size  : px-to-rem(13px) !default;
$calendar-date-size         : px-to-rem(12px) !default;

$calendar-day-in-week-color : $text-color-dark !default;
$calendar-date-color        : $text-color-normal !default;
$calendar-different-color   : $text-color-mute !default;

$calendar-selected-bgc      : $cyan !default;
$calendar-today-bgc         : #e3f2ff !default;

.calendar-modal-open {
  position: fixed !important;
  display: block;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.calendar-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4200;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0;
  @include transform(translateY(20%));
  @include transition(all .35s);

  &.hide {
    display: none !important;
  }

  &.in {
    opacity: 1;
    @include transform(translateY(0%));
  }

  .calendar-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.9);
  }

  .button {
    position: relative;
    margin-top: px-to-rem(15px);
    right: 0;
    left: 0;
    display: block;
    margin: auto;
    width: px-to-rem(40px);
    height: px-to-rem(40px);
  }
}

.calendar {
  position: relative;
  z-index: 4;
  display: block;
  margin: auto;
  border-bottom: px-to-rem(1px) solid $border-color-normal;
  width: 100%;
  background: #fff;

  .header {
    position: relative;
    display: block;
    width: 100%;
    height: $calendar-header-height;
    line-height: $calendar-header-height;
    font-size: $calendar-header-size;
    color: $text-color-dark;

    .button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: auto;
      right: auto;
      display: inline-block;
      vertical-align: middle;
      margin: auto;
      text-align: center;
      font-size: px-to-rem(12px);
      color: inherit;
      cursor: pointer;

      &.prev {
        left: px-to-rem(15px);
      }

      &.next {
        right: px-to-rem(15px);
      }
    }

    .date {
      display: block;
      margin: auto;
      width: 60%;
      height: 100%;
      text-align: center;
      line-height: inherit;
    }
  }

  .week {
    display: table;
    table-layout: fixed;
    width: 100%;

    .day {
      display: table-cell;
      vertical-align: middle;
      padding: $calendar-spacing;
      width: 100%;
      text-align: center;
      font-size: $calendar-date-size;
      background: white;
      color: $calendar-date-color;
      cursor: pointer;

      .content {
        $size: $calendar-date-size * (30 / 12);

        display: block;
        vertical-align: middle;
        margin: auto;
        width: $size;
        height: $size;
        line-height: $size;
        font-size: $calendar-date-size;
        border-radius: 100%;
      }

      &.today .content {
        background-color: $calendar-today-bgc;
      }

      &.different-month .content {
        color: $calendar-different-color;
      }

      &.selected .content {
        background: $calendar-selected-bgc;
        color: white;
      }
    }

    &.names > .day {
      padding: px-to-rem(4px) 0;
      font-size: $calendar-day-in-week-size;
      font-weight: bold;
      color: $calendar-day-in-week-color;
    }
  }
}
