.checkbox-sample
  .checkbox-wrapper
    form(name='form')
      .row
        checkbox(name='checkbox-1' value='1') &nbsp;Checkbox Check
      .row
        checkbox(name='checkbox-2' value='2' checked) &nbsp;Checkbox Checked
      .row
        checkbox(name='checkbox-3' value='3' disabled) &nbsp;Checkbox Disabled
      .row
        checkbox(name='checkbox-4' value='4' checked disabled) &nbsp;Checkbox Checked Disabled
