@import "../_styles/_bootstrap";

@include keyframes (alertFadeIn) {
  0 {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes (alertFadeOut) {
  0 {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.alert {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 4444;
  display: block;
  margin: 0 auto;
  border-radius: 0;
  padding: px-to-rem(12.5px) px-to-rem(15px);
  width: auto;
  height: auto;
  text-align: center;
  line-height: px-to-rem(16px);
  font-size: px-to-rem(16px);
  background-color: #ff4640;
  box-shadow: none;
  color: #fff;
  opacity: 0;
  @include user-select(none);
  @include transition(all .35s);

  &.in {
    opacity: 0;
    @include animation(alertFadeIn .75s forwards);
  }

  &.out {
    opacity: 1;
    @include animation(alertFadeOut .75s forwards);
  }
}
