@import "../_styles/_bootstrap";

.utilitybar {
  display: none;
  height: rem(59px);
  $utilitybar-size: 44px !default;

  &.active {
    position: fixed;
    bottom: 0;
    display: block;
  }

  .item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    width: rem($utilitybar-size);
    height: rem($utilitybar-size);
    border-radius: 100%;
    background-color: rgba(0,0,0,.75);
    box-shadow: rem(2px) rem(2px) rem(8px) rgba(0,0,0,.5);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    > .sp {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    > span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: rem($utilitybar-size);
      font-size: rem(14px);
      color: #fff;
    }
  }

  .group {
    position: fixed;
    right: rem(15px);
    bottom: rem(15px);
    left: auto;
    z-index: 4000;
    display: inline-block;
    width: auto;
    height: rem($utilitybar-size);
    background-color: rgba(0,0,0,.75);
    border-radius: $utilitybar-size $utilitybar-size $utilitybar-size $utilitybar-size;
    box-shadow: rem(2px) rem(2px) rem(8px) rgba(0,0,0,.5);
    opacity: 0;
    @include clearfix;
    @include transform(translateY(15px + $utilitybar-size));
    @include transition(transform .25s, opacity .25s);

    .item {
      margin: 0;
      background-color: transparent;
      box-shadow: none;

      &:first-child {
        > .sp {
          left: rem(13px);
        }
      }

      &:last-child {
        > .sp {
          right: rem(13px);
        }
      }

      &:first-child:last-child > .sp {
        left: 0;
        right: 0;
      }
    }
  }

  &.active {
    .group {
      opacity: 1;
      @include transform(translateY(0));
    }
  }
}

