.cropper(ng-class='{\
  preview: !openDrop && fileSelected,\
  loading: uploading || loading,\
}')
  qiniu-uploader.cropper-result(
    ng-file-select='onCropperFileSelect($files)',
    ng-disabled='uploading || loading')
    ng-transclude

  .cropper-dialog(ng-show='fileSelected')
    .cropper-body
      img(cropper-image,
        ng-src='{{ cropperImage }}')

    .cropper-toolsbar
      a.cancel(ng-click='cancel()', role='button') 取消
      a.upload(ng-click='upload()', role='button') 上传

  .cropper-uploading
    spinner
