@import "../_styles/_bootstrap";

.cropper-open {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

.cropper {
  .cropper-result {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.cropper-uploading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4200;
  display: none;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.75);

  .loading {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      stroke: #1aac19;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-animation: dash 1.4s ease-in-out infinite;
      animation: dash 1.4s ease-in-out infinite;
    }
  }

  .cropper.loading & {
    display: block;
  }
}

.cropper-dialog {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4200;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.75) 50%, rgba(0,0,0,1) 100%);
  background-color: transparent;

  .cropper-body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin: auto;
    width: 80%;
    height: 60%;
    transform: translate(-50%, -50%);

    > img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  .cropper-toolsbar {
    position: absolute;
    bottom: px-to-rem(15px);
    display: block;
    margin: auto;
    padding: 0 px-to-rem(15px);
    width: 100%;
    text-align: center;
    font-size: px-to-rem(14px);

    .cancel {
      display: inline-block;
      float: left;
      color: #fff;
      cursor: pointer;
    }

    .upload {
      display: inline-block;
      float: right;
      color: $cyan;
      cursor: pointer;
    }
  }
}
